.menu {
    width: 120px;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    position: absolute;
    display: none;
    background: white;
}

groups-module .menu {
    width: auto;
}

.menu .menu-options {
    display: block;
    list-style: none;

    padding: 0;
    margin: 0;
}

.menu .menu-option {
    display: block;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
}

.menu-option:hover {
    background: rgba(0, 0, 0, 0.2);
}
