@font-face {
    font-family: "Montserrat";
    src: url("../Fonts/Montserrat-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Montserrat";
    src: url("../Fonts/Montserrat-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat";
    src: url("../Fonts/Montserrat-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: "Montserrat";
    src: url("../Fonts/Montserrat-Regular.ttf");
}

html, body {
    font-family: "Montserrat";
    margin: 0;
    height: 100%;
}

link-module {
    display: flex;
}